* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #111827;
}

/*CABECERA*/

.header {
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
}

.header-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

/* MENÚ */
.header-right {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end; /* menú a la derecha */
  align-items: center;
}

/* links normales */
.header-right a {
  text-decoration: none;
  color: #111827;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
}

/* rayita hover solo para links del menú */
.header-right a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #ed6f6e;
  transition: width 0.3s ease;
}

.header-right a:hover::after {
  width: 100%;
}

/* AVATAR */
.menu-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;     
  height: 60px;
  border-radius: 50%;
  background: rgb(43, 42, 95);
  overflow: hidden;
  margin-left: 1rem; 
}

.menu-avatar img {
 width: 100%; 
 height: 100%; 
 object-fit: cover; 
 transform: scale(1.6) translateY(2px); /*solo agrana el oso*/ 
 cursor: pointer;
}

/* hover solo del avatar */
.menu-avatar:hover {
  box-shadow: 0 0 6px yellow;
}

/*HERO*/

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: #f5f5f5;
}

.hero-content {
  max-width: 600px;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.hero h3 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #6b7280;
  margin-bottom: 1.5rem;
}

.hero p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #555;
}
/*primer botón */

.btn-primary {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background: #ed6f6e;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.btn-primary:hover {
  background: #ffa0a0;
}

/*PROYECTOS */

.projects {
  padding: 4rem 2rem;
  background: #ffffff;
}

.projects h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.project-card {
  padding: 2rem;
  border-radius: 10px;
  background: #f9fafb;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.project-card h3 {
  margin-bottom: 1rem;
}

.project-card p {
  margin-bottom: 1.5rem;
  color: #555;
}

.project-card a {
  color: #7099f0;
  text-decoration: none;
  font-weight: 500;
}
/* SOBRE MI */
.about {
  padding: 4rem 2rem;
  background: #f9fafb;
}

.about h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;       
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-block h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.about-block p {
  margin-bottom: 1rem;
  color: #374151;
  line-height: 1.6;
}
/* FORMULARIO */
 .contact {
  padding: 2rem;
  background: #f5f5f5;

 }
 .contact-card {
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  
 }
.contact h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact-text h3 {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 2.5rem;
  font-weight: 400;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}
 .form-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem ;
}

.form-field label {
  font-size: 0.9rem;
  font-weight: 500;
}

.form-field input,
.form-field textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-family: inherit;
}

.form-field textarea {
  min-height: 6rem;
  resize: vertical;

}
/* Quitar el azul por defecto del formulario*/
.form-field input:focus,
.form-field textarea:focus {
  outline: none;
  border-color: #ed6f6e;
  box-shadow: 0 0 0 2px #2b2a60;
}

/*botón enviar*/
.contact-form-submit {
  width: 100%;
  padding: 0.75rem; 
  font-size: medium;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  background: #ed6f6e;
  color: white;

}
.contact-form-submit:hover {
  background: #ffa0a0;
}
/*BOTÓN ARRIBA scroll*/ 

.scroll-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #2b2a60;
  color: white;
  cursor: pointer;
  display: none; /* para que solo se vea al hacer scroll */
  z-index: 1000; /* capas del botón*/
}

.scroll-top:hover {
  background-color: #6b6aa3;
}


/* RESPONSIVE */

/* Móviles */
@media (max-width: 767px) {

  /* Sobre mí Sección */
  .about-content {
    padding: 0 1rem;
  }

  .about-container {
    grid-template-columns: 1fr;
  }

  .about-menu {
    flex-direction: row;
    gap: 2rem;
  }

  /* Header Sección*/
  .header-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .header-right {
    width: 100%;
    justify-content: flex-start;
    gap: 1.5rem;
  }
}

/* Escritorio */
@media (min-width: 768px) {

  /* Hero Section */
  .hero h1 {
    font-size: 3rem;
  }

  /* Proyectos Sección */
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  
  }
  /* FOOTER */
  footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #eaf1ff;
}

}
